@font-face {
    font-family: 'lato';
    font-weight: 300;
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'lato';
    font-weight: 600;
    src: url('../fonts/Lato-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}
.menu{
    display: flex;
}
nav {
    height: 60px;
    background-color: #E0E0E0;
    align-items: center;
}
ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu2{
    display: none;
}
.menuTexto{
    font-weight: 600;
    font-size: 20px;
}
.header-menu{
    position: sticky;
    top: 0;
}

/*Inicio da estilização do formulário de produto e valores*/
main{
    width: 100%;
}
.transacao{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex{
    height: 65px;
    width: 90%;
    display: inline-grid;
    margin-top: 15px;
}
.label{
    font-family: 'lato';
    text-align: initial;
    margin-bottom: -20px;
}
.textoTransacao{
    display: none;
}

.selectInput,
.textInput{
    border: solid #979797;
    border-width: 1px;
    border-radius: 5px;
}
.btnSubmit{
    background: #333333;
    color: #E0E0E0;
    font-family: 'lato';
    font-size: 17px;
    height: 40px;
    border-radius: 5px;
    margin-top: 15px;
    
}

.linhaHr{
    width: 89%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}